@tailwind base;
@tailwind components;
@tailwind utilities;

/*About.jsx*/
@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.animation-container {
  animation: morph 8s ease-in-out infinite both alternate;
}

.animation-shape {
  animation: spin 12s ease-in-out infinite alternate-reverse;
}


/*Skills.jsx*/
@keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.743);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.671), 0 0 2px rgba(83, 193, 222);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
  }
  
  .glowing-bar {
    animation: glow 5s infinite;
  }

  .your-hover-class:hover {
    /* Define your hover styles here */
    /* For example, you can change the SVG's color or scale it */
    fill: bg-sky-600;
    transform: scale(1.1);
  }

  
  
  
  
  
  
  
  
  