@tailwind base;
@tailwind components;
@tailwind utilities;

/*Header.jsx*/

button.relative {
  position: relative;
}


button.relative:hover .underline {
  width: 100%;
}

button.relative .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: white; /* Adjust the color as needed */
  transition: width 0.8s ease;
}


/*About.jsx*/
@keyframes morph {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}


.animation-container {
  animation: morph 8s ease-in-out infinite both alternate;
}




  
  
  
  
  
  
  
  
  